<form name="" action="save.php" method="get" enctype="multipart/form-data">

<table border="2">
<tr>
<td> Name </td> 
<td> <input type="text" name="name"> </td>
</tr>
    <tr>
<td> EmpId </td> 
<td> <input type="text" name="empid"> </td>
</tr>
    <tr>
<td> Gender </td> 
<td> <input type="radio" name="gender" value="Male"> Male <input type="radio" name="gender" value="Female"> Female </td>
</tr>
    <tr>
<td> Food Preference </td> 
<td> <input type="radio" name="food" value="Veg"> Veg &nbsp;  OR <input type="radio" name="food" value="NonVeg"> Non Veg </td>
</tr>
    <tr>
<td> Vehicle </td> 
<td> <input type="checkbox" name="vehicle"> Bike <br>  <input type="checkbox" name="vehicle"> Cycle <br> <input type="checkbox" name="vehicle"> Scooty </td>
</tr>
    <tr>
<td> Address </td> 
<td> <textarea name="address" rows="6" cols="40">  </textarea> </td>
</tr>
    
    <tr>
<td> <input type="reset"> </td> 
<td> <input type="submit" value="Submit" > </td>
</tr>
    
</table>
</form>
